name: docs
 
on:
  push:
    branches: [main]
  workflow_dispatch:
permissions:
  contents: write
 
jobs:
  docs:
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v4
        with:
          # “最近更新时间” 等 git 日志相关信息，需要拉取全部提交记录
          fetch-depth: 0
 
      - name: 设置 Node.js
        uses: actions/setup-node@v6
        with:
          # 选择要使用的 node 版本
          node-version: latest
 
      - name: 安装依赖
        run: npm install
 
      # 运行构建脚本
      - name: 构建 VuePress 站点
        run: npm run docs:build
 
      # 查看 workflow 的文档来获取更多信息
      # @see https://github.com/crazy-max/ghaction-github-pages
      - name: 部署到 GitHub Pages 
        uses: crazy-max/ghaction-github-pages@v4
        with:
          # 部署到 gh-pages 分支
          target_branch: gh-pages
          # 部署目录为 VuePress 的默认输出目录
          build_dir: dist
        env:
          # @see https://docs.github.com/cn/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}